<powershell>
Write-Host "Starting AWS CLI installation..."
Start-Process -Wait -PassThru msiexec.exe -ArgumentList '/i', 'https://awscli.amazonaws.com/AWSCLIV2.msi', '/qn'
$env:Path = [System.Environment]::GetEnvironmentVariable("Path","Machine") + ";" + [System.Environment]::GetEnvironmentVariable("Path","User")
Write-Host "AWS CLI installation completed"

Write-Host "Fetching MSI package from S3..."
$msi_package_basepath = "s3://${releases_bucket_name}/nrdot-collector-releases/${collector_distro}/${nrdot_version}/${commit_sha_short}/"
$latest_msi_filename = aws s3 ls $msi_package_basepath |
    Sort-Object -Descending |
    Where-Object { $_ -match "${collector_distro}" -and $_ -match "\.msi$" } |
    Select-Object -First 1 |
    ForEach-Object { ($_ -split '\s+')[-1] }
$msi_path = Join-Path $env:TEMP "collector.msi"
aws s3 cp "$msi_package_basepath$latest_msi_filename" $msi_path
Write-Host "MSI package fetched successfully"

# Set nrdot config environment variables.
$log_path = Join-Path $env:TEMP "msi-install.log"
$msi_args = @(
    '/i',
    $msi_path,
    '/qn',
    '/l*',
    $log_path
)
Write-Host "Starting MSI installation..."
$process = Start-Process -Wait -PassThru msiexec.exe -ArgumentList $msi_args

# Validate install successful
Write-Host '`nInstallation Log (Last 200 lines):'
Get-Content $log_path | Select-Object -Last 200
if ($process.ExitCode -ne 0) {
    Write-Host "MSI installation failed with exit code $($process.ExitCode)"
    if (Test-Path $log_path) {
    Write-Host '`nInstallation Log - Errors and Warnings:'
    Get-Content $log_path | Select-String -Pattern 'error|warning|failed|exception|fatal' -Context 2,2
    Write-Host ''
    }
    exit $process.ExitCode
}
Write-Host "MSI installation successful"

# Set environment variables
$RegistryArgs = @{
    Path         = 'HKLM:\SYSTEM\CurrentControlSet\Services\${collector_distro}'
    Name         = 'Environment'
    PropertyType = 'MultiString'
    Value        = @(
        "NEW_RELIC_LICENSE_KEY=${nr_ingest_key}",
        "OTEL_RESOURCE_ATTRIBUTES=testKey=${test_key}"
        # Add any other config environment variables to this registry key (comma-separated)
    )
    Force        = $true
}
New-ItemProperty @RegistryArgs

# Restart service to pick up registry key change
Restart-Service -Name "${collector_distro}"

Write-Host "Waiting 30 seconds for collector to spool up..."
Start-Sleep -Seconds 30

Write-Host "`nCollector logs from Windows Event Log:"
Get-WinEvent -LogName Application -MaxEvents 100 -ErrorAction SilentlyContinue | Where-Object { $_.ProviderName -eq "${collector_distro}" } | Select-Object -ExpandProperty Message

# Check if service is running
$service = Get-Service -Name "${collector_distro}"
if ($service -and $service.Status -eq 'Running') {
    Write-Host "Service ${collector_distro} is running"
} else {
    Write-Host "Service ${collector_distro} is not running"
    exit 1
}
</powershell>
