<< define "base" ->>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
   <Product
      Name="NRDOT Collector ({{ .Version }}) - << .InstallerName >> distribution"
      Id="*"
      UpgradeCode="<< .ProductUpgradeCode >>"
      Version="{{ .Version }}"
      Manufacturer="OpenTelemetry"
      Language="1033">
      
      <Package
         InstallerVersion="200"
         Compressed="yes"
         Comments="Windows Installer Package"
         InstallScope="perMachine"/>
      <Media Id="1" Cabinet="product.cab" EmbedCab="yes"/>
      <Icon Id="ProductIcon" SourceFile="opentelemetry.ico"/> <!-- TODO: Add NR Icon? -->
      <Property Id="ARPPRODUCTICON" Value="ProductIcon"/>
      <Property Id="ARPHELPLINK" Value="https://support.newrelic.com/s/"/>
      <Property Id="ARPURLINFOABOUT" Value="https://opentelemetry.io/"/> <!-- TODO: Find the appropriate Info URL-->
      <Property Id="ARPNOREPAIR" Value="1"/>
      <Property Id="ARPNOMODIFY" Value="1"/>

      <MajorUpgrade
         DowngradeErrorMessage="A later version of NRDOT is already installed. Setup will now exit."/>

      <Feature Id="Feature" Level="1">
         <ComponentRef Id="ApplicationComponent"/>
      </Feature>

      <Property Id="COLLECTOR_SVC_ARGS"/>
      <CustomAction
         Id="SetCollectorSvcArgs"
         Property="COLLECTOR_SVC_ARGS"
         Value="--config &quot;[INSTALLDIR]config.yaml&quot;"/>

      <Property Id="NEW_RELIC_LICENSE_KEY"/>

      <InstallExecuteSequence>
         <Custom Action="SetCollectorSvcArgs" Before="InstallFiles">NOT COLLECTOR_SVC_ARGS</Custom>
      </InstallExecuteSequence>

      <Directory Id="TARGETDIR" Name="SourceDir">
         <Directory Id="ProgramFiles64Folder">
            <Directory Id="INSTALLDIR" Name="{{ .Binary }}">
               <!-- TODO: The UpgradeCode in Product is Contribs. We need to generate our own. -->
               <Component Id="ApplicationComponent" Guid="<< .ComponentGUID >>">
                  <!-- Files to include -->
                  <File
                     Id="{{ replace .Binary "-"  "_"}}.exe"
                     Name="{{ .Binary }}.exe"
                     Source="{{ .Binary }}.exe"
                     KeyPath="yes"/>
                  <File
                     Id="config.yaml"
                     Name="config.yaml"
                     Source="config.yaml"/>

                  <Environment
                     Action="set"
                     Name="NEW_RELIC_LICENSE_KEY"
                     Value="[NEW_RELIC_LICENSE_KEY]"
                  />

                  <ServiceInstall
                     Id="Sevice"
                     Name="{{ .Binary }}"
                     DisplayName="NRDOT Collector << .InstallerName >>"
                     Description="NRDOT << .InstallerName >> Distribution of the OpenTelemetry Collector"
                     Type="ownProcess"
                     Vital="yes"
                     Start="auto"
                     Account="LocalSystem"
                     ErrorControl="normal"
                     Arguments="[COLLECTOR_SVC_ARGS]"
                     Interactive="no"/>
                  <ServiceControl
                     Id="StartStopRemoveService"
                     Name="{{ .Binary }}"
                     Start="install"
                     Stop="both"
                     Remove="uninstall"
                     Wait="yes"/>

                  <RegistryKey
                     Root="HKLM"
                     Key="SYSTEM\CurrentControlSet\Services\EventLog\Application\{{ .Binary }}">
                     <RegistryValue
                        Type="expandable"
                        Name="EventMessageFile"
                        Value="%SystemRoot%\System32\EventCreate.exe"/>
                  </RegistryKey>
               </Component>
            </Directory>
         </Directory>
      </Directory>
   </Product>
</Wix>
<< end >>